/* variables */

:root {
  --fondo__pagina: #262626;
  --fondo__menus: #4c4c4c;
  --color__letra: #fafaf5;
  --fondo__header: #dd3333;
}

.btn-danger{
  display: flex;
  margin-top: 12px;
  flex-flow: column;
  justify-content: end;
  align-items: end;
}

  .card img {
    max-width: 100%;
    max-height: 250px;
  }


  .card {
    margin: 0 , 12em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    background-color: var(--fondo__menus);
    height: 25em;
    width: 19rem;
    color: var(--color__letra);
  }

  .item{
    display: flex;
    justify-content: center;
    flex-flow: row ;
  }

  .cards-wrapper {
    margin-right: 12px;
    margin-left: 12px;
    margin: 12px;
    gap: 50px;
    max-width: 100%;
    flex-flow: row wrap ;
  }


/*  mobile*/

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  
  }

  @media (max-width: 768px) {
  .cards-wrapper {
    flex-flow: column wrap;
    align-items: center;
  }
  .card{
    margin: 12px;
    height: 450px;
  }
}