.container-contact{
    height: 100vh;
}
.FormFormulario{
  
    width: 350px;
    height: 350px;
    margin: auto;
    background: rgba(72, 48, 48, 0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    background-image: url(../img/hoxtonbaner.jpeg);
    background-size:22em;
    opacity: 0.9;


}
h2{
    color: #f7f4f4;
    font-family: "lato", sans-serif;
    text-align: center;
    margin: 0; 
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 3px 4px #000;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0.2);
    /* color: white; */
    
}::placeholder {
    color: white;

  }

.inputContact{
    color: white;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    background-color: rgba(2, 1, 1, 0.2);
    color: white;
}

button {
 margin-top: 100px;
    font-family: inherit;
    font-size: 20px;
    background: #540e0e;
    color: white;
    padding: 0.7em 1em;
    padding-left: 9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
   

   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }