*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
}

ul , ol , li{
   list-style: none;
   text-decoration: none;
}

:root{
  --fondo__pagina:#262626;
  --fondo__menus:#4c4c4c;
  --color__letra:#fafaf5;
  --fondo__header:#DD3333;
}

body{
    background-color: var(--fondo__pagina);
}
/* nav*/

.header{
  color: var(--color__letra);
  width: 100%;
  height: 1.5rem;
  background-color: var(--fondo__header);
  display: flex;
  justify-content: center;
}

.nav{
  background-color: var(--fondo__menus);
  justify-content: space-evenly;
}

.lupa{
   height: auto;
   width: auto;
}

.carousel-container{
   width: 100%;
   padding: 15px;
}

.container__imagenes_verticales{
  display: flex;
  flex-flow: column nowrap;
}

.container__imagenes_verticales > img{
  width: 100%;
  padding: 0 10px 19px;
}

/* error */

.carousel-indicators button {
  height: 13px !important ;
  width: 5px;
  border-radius:  55px; 
}


.error{
  margin: 0 28% 0 ;  
}